/* header css */
.header {
  background-image: linear-gradient(to left, #6074ff, #eb6cff);
}
.nav-link {
  text-align: center;
}
.nav-link::after {
  content: "";
  display: block;
  width: 3.8rem;
  height: 2px;
  background-color: #ff9f67;
  transform: scale(0);
  transition: all 0.5s ease;
  margin: 0.5rem auto 0;
}
.nav-link:hover::after,
.nav-link.active::after {
  transform: scale(1);
}
.nav-item {
  text-align: center;
}
